body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-sora: Sora;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-2xs: 11px;
  --font-size-5xl: 24px;
  --font-size-8xs: 5px;

  /* Colors */
  --color-gray: #f9fbfc;
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --color-limegreen: #0fb516;
  --color-red: #ff0000;
  --color-darkslategray: #333;

  /* Gaps */
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-lg: 18px;
  --gap-xl: 20px;
  --gap-13xl: 32px;
  --gap-12xs: 1px;
  --gap-24xl-9: 43.9px;
  --gap-3xl: 22px;
  --gap-11xs: 2px;
  --gap-2xl: 21px;
  --gap-base: 16px;
  --gap-7xs: 6px;
  --gap-4xs: 9px;
  --gap-166xl: 185px;
  --gap-73xl: 92px;
  --gap-12xl: 31px;
  --gap-3xs: 10px;
  --gap-8xs: 5px;
  --gap-6xl: 25px;
  --gap-mini: 15px;
  --gap-11xl: 30px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-mid: 17px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-8xs: 5px;
  --padding-11xs: 2px;
  --padding-4xs: 9px;
  --padding-2xl: 21px;
  --padding-9xs: 4px;
  --padding-4xl: 23px;
  --padding-xs: 12px;
  --padding-27xl: 46px;
  --padding-2xs: 11px;
  --padding-6xl: 25px;
  --padding-7xs: 6px;
  --padding-lg: 18px;
  --padding-3xl: 22px;
  --padding-lgi: 19px;
  --padding-12xs: 1px;
  --padding-13xl: 32px;
  --padding-10xs: 3px;
  --padding-15xl: 34px;
  --padding-mini: 15px;
  --padding-58xl: 77px;
  --padding-3xs-5: 9.5px;
  --padding-8xs-5: 4.5px;
  --padding-56xl: 75px;
  --padding-mini-5: 14.5px;
  --padding-base-5: 15.5px;
  --padding-2xs-5: 10.5px;
  --padding-5xl: 24px;
  --padding-xs-5: 11.5px;
  --padding-9xs-5: 3.5px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
}
/* End Global 
Start Dashboard */
.vector-icon {
  width: 15px;
  height: 11.8px;
  position: relative;
  display: none;
  z-index: 0;
}
.name-icon {
  width: 15px;
  height: 13px;
  top: 439.5px;
  left: 77px;
}
.input-icon,
.name-icon,
.payment {
  position: absolute;
  margin: 0 !important;
}
.payment {
  top: 434px;
  right: 93px;
  line-height: 24px;
  display: inline-block;
  min-width: 59px;
}
.input-icon {
  width: 8px;
  height: 15px;
  top: 493.5px;
  left: 76px;
}
.machine {
  top: 489px;
  right: 96.5px;
  line-height: 24px;
  display: inline-block;
  min-width: 58px;
}
.customer,
.machine,
.vector-icon1 {
  position: absolute;
  margin: 0 !important;
}
.vector-icon1 {
  width: 15px;
  height: 11.8px;
  top: 550.1px;
  left: 75px;
}
.customer {
  top: 544px;
  left: 100px;
  line-height: 24px;
  display: inline-block;
  min-width: 33px;
}
.vector-icon2,
.vector-icon3 {
  width: 15px;
  height: 11.8px;
  position: relative;
  display: none;
  z-index: 7;
}
.vector-icon3 {
  z-index: 8;
}
.frame-child {
  width: 54px;
  height: 42px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 99px;
  object-fit: cover;
}
.icon {
  height: 15px;
  width: 15px;
  position: relative;
}
.dashboard1 {
  text-decoration: none;
  position: relative;
  line-height: 16px;
  color: inherit;
  display: inline-block;
  min-width: 78px;
}
.nav-item {
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-56xl);
  gap: var(--gap-3xs);
  cursor: pointer;
  color: var(--color-black);
}
.order-icon {
  width: 15px;
  height: 15px;
  position: relative;
}
.order-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) 0 0;
}
.order {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 40px;
}
.vector-icon4 {
  width: 12px;
  height: 5px;
  position: relative;
}
.order-item,
.order-placement,
.order-summary {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.order-item {
  flex-direction: column;
  padding: var(--padding-3xs-5) 0 0;
}
.order-placement,
.order-summary {
  flex-direction: row;
}
.order-summary {
  gap: var(--gap-base);
}
.order-placement {
  padding: 0 var(--padding-58xl);
}
.vector-icon5 {
  height: 15px;
  width: 15px;
  position: relative;
  display: none;
  z-index: 0;
}
.menu-item-icons,
.new-order {
  position: absolute;
  margin: 0 !important;
}
.new-order {
  top: 11px;
  left: 120.5px;
  line-height: 24px;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.menu-item-icons {
  height: 15px;
  width: 15px;
  top: 15.5px;
  left: 92.5px;
  z-index: 2;
}
.nav-item1 {
  align-self: stretch;
  height: 46px;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.vector-icon7,
.view-order {
  position: absolute;
  margin: 0 !important;
}
.view-order {
  text-decoration: none;
  top: 11px;
  left: 121px;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 78px;
  z-index: 1;
}
.vector-icon7 {
  height: 12px;
  width: 15px;
  top: 17px;
  left: 92px;
  z-index: 2;
}
.nav-item2 {
  align-self: stretch;
  height: 46px;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.new-style {
  top: 11px;
  left: 122px;
  line-height: 24px;
  display: inline-block;
  min-width: 71px;
  z-index: 1;
}
.customer1,
.new-style,
.vector-icon10 {
  position: absolute;
  margin: 0 !important;
}
.vector-icon10 {
  height: 11.8px;
  width: 15px;
  top: 17.1px;
  left: 74px;
  z-index: 0;
}
.customer1 {
  text-decoration: none;
  top: 11px;
  left: 99.5px;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 66px;
  z-index: 1;
}
.nav-item4 {
  align-self: stretch;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-mini);
}
.frame-parent,
.user-card {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.frame-parent {
  padding: 70.9px 0 0;
  position: relative;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-base);
}
.settings-input-composite {
  height: 15px;
  width: 15px;
  position: absolute;
  margin: 0 !important;
  top: 4.5px;
  right: 82.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.customer2 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 47px;
}
.customer-name-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.customer3 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 53px;
}
.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-12xl);
}
.user-name-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.total-orders-icon {
  height: 15px;
  width: 13px;
  position: absolute;
  margin: 0 !important;
  right: 86.5px;
  bottom: 4.5px;
}
.sidebar-items,
.user-settings {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
}
.user-settings {
  width: 173px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
}
.sidebar-items {
  width: 253px;
  background-color: var(--color-black);
  flex-direction: column;
  padding: 22.1px 0 580px;
  gap: var(--gap-166xl);
}
.dashboard2 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 117px;
}
.user-3296-2-icon {
  width: 21px;
  height: 21px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.content,
.user-3296-2-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.content {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-15xl) var(--padding-mid)
    var(--padding-mini);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.div,
.empty-sales-detail,
.pending-orders {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.pending-orders {
  text-decoration: none;
  color: inherit;
  min-width: 128px;
}
.div,
.empty-sales-detail {
  min-width: 51px;
}
.div {
  color: var(--color-limegreen);
  min-width: 43px;
}
.pending-order-actions,
.pending-orders-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.pending-orders-header {
  flex-direction: column;
  gap: var(--gap-base);
}
.create-order,
.view-orders {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.view-orders {
  text-decoration: none;
  color: inherit;
  min-width: 97px;
}
.create-order {
  min-width: 104px;
}
.main-content-child {
  height: 42px;
  width: 46px;
  position: absolute;
  margin: 0 !important;
  top: -21px;
  left: 16px;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  z-index: 1;
}
.header,
.vector-icon11 {
  position: absolute;
  top: 22px;
  left: 25px;
  width: 27px;
  height: 27px;
  z-index: 2;
}
.header {
  height: 48px;
  width: 155px;
  margin: 0 !important;
  top: -35px;
  left: 0;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.main-content {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-3xl) var(--padding-2xs)
    var(--padding-lgi);
  position: relative;
  gap: var(--gap-xl);
}
.main-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  min-width: 262px;
  max-width: 100%;
}
.customer4 {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  min-width: 82px;
}
.add-customer,
.customer4,
.view-customers {
  position: relative;
  line-height: 24px;
}
.view-customers {
  text-decoration: none;
  color: inherit;
}
.add-customer {
  display: inline-block;
  min-width: 116px;
}
.customer-item-parent {
  position: absolute;
  top: 22px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-4xl) var(--padding-2xs)
    var(--padding-lgi);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.customer-icon-container-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  display: none;
}
.vector-icon12 {
  position: absolute;
  top: 11px;
  left: 8px;
  width: 31px;
  height: 20px;
  z-index: 2;
}
.customer-icon-container {
  position: absolute;
  top: 0;
  left: 19px;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  width: 46px;
  height: 42px;
  z-index: 1;
}
.customer-content {
  align-self: stretch;
  height: 129px;
  position: relative;
}
.customer-management {
  flex: 0.9831;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs) var(--padding-12xs) 0;
  box-sizing: border-box;
  min-width: 266px;
  max-width: 100%;
}
.empty-view-orders,
.n7656,
.revenue {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.revenue {
  text-decoration: none;
  color: inherit;
  min-width: 71px;
}
.empty-view-orders,
.n7656 {
  min-width: 54px;
}
.empty-view-orders {
  color: var(--color-red);
  min-width: 42px;
}
.revenue-value {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.view-sales {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 84px;
}
.main-content1 {
  position: absolute;
  top: 21px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-lgi) var(--padding-2xs);
  box-sizing: border-box;
  gap: 64px;
}
.money-icon {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  z-index: 2;
}
.money-container {
  position: absolute;
  top: 0;
  left: 18px;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  width: 46px;
  height: 42px;
  z-index: 1;
}
.main-content-parent {
  height: 128px;
  flex: 1;
  position: relative;
  min-width: 262px;
  max-width: 100%;
}
.pending-orders-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 42px;
  max-width: 100%;
}
.orders-icon-container-child {
  width: 1137px;
  height: 62px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.this-month,
.total-orders {
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.total-orders {
  margin: 0;
  width: 547.3px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.this-month {
  width: 351.9px;
  font-size: var(--font-size-sm);
  font-weight: 300;
}
.orders-icon-container,
.pending-orders-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.orders-icon-container {
  background-color: var(--color-black);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-8xs)
    var(--padding-4xl);
  gap: var(--gap-11xs);
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.pending-orders-container {
  padding: 0 0 var(--padding-5xs);
  gap: 23px;
}
.total-order-icon {
  height: 309px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.total-order-icon-wrapper {
  width: 1116px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
}
.component-9-child {
  align-self: stretch;
  height: 434px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.table-headers-child {
  width: 729px;
  height: 62px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.orders-due,
.orders-due-this {
  position: relative;
  line-height: 24px;
  z-index: 2;
}
.orders-due-this {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.orders-due {
  font-weight: 300;
  display: inline-block;
  min-width: 85px;
}
.order-name-header,
.table-headers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.order-name-header {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  text-align: left;
  font-size: var(--font-size-sm);
}
.table-headers {
  align-self: stretch;
  background-color: var(--color-black);
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-lgi) var(--padding-11xs);
  box-sizing: border-box;
  gap: 3px;
  max-width: 100%;
  z-index: 1;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.amount,
.date,
.name {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 34px;
  z-index: 1;
}
.amount,
.name {
  min-width: 43px;
}
.amount {
  min-width: 57px;
}
.table-headers-item {
  height: 62px;
  width: 729px;
  position: relative;
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.collection-date,
.completion {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 110px;
  z-index: 3;
}
.completion {
  min-width: 83px;
}
.table-headers1 {
  align-self: stretch;
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-lg) 42px var(--padding-lg) var(--padding-3xl);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 2;
  font-size: var(--font-size-base);
}
.component-9-item {
  width: 105px;
  height: 5px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  display: none;
}
.amount-headers,
.date-headers {
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: inline-block;
  min-width: 55px;
  flex-shrink: 0;
  z-index: 1;
}
.amount-headers {
  margin-top: -1px;
  width: 35px;
  min-width: 35px;
  white-space: nowrap;
}
.date-headers-parent,
.order-date-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.order-date-header {
  height: 23px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
}
.date-headers-parent {
  flex-direction: column;
}
.bimbo {
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: inline-block;
  min-width: 40px;
  z-index: 1;
}
.completion-progress-bar-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-6xl) 0 0;
}
.n56000 {
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.n56000-wrapper {
  width: 99px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.collection-amount-headers,
.collection-date-headers {
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: inline-block;
  min-width: 59px;
  flex-shrink: 0;
  z-index: 1;
}
.collection-amount-headers {
  width: 35px;
  min-width: 35px;
  white-space: nowrap;
}
.collection-date-header,
.collection-date-headers-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.collection-date-header {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  margin-top: -1px;
  font-size: var(--font-size-sm);
}
.collection-date-headers-parent {
  flex-direction: column;
  padding: 0 44px 0 0;
  font-size: var(--font-size-mini);
}
.table-headers-inner {
  height: 62px;
  width: 729px;
  position: relative;
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  flex-shrink: 0;
  display: none;
}
.completion-date-headers {
  width: 25px;
  height: 11px;
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 25px;
  z-index: 1;
}
.progress-bar-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 4;
}
.progress-bar,
.progress-indicator {
  height: 5px;
  border-radius: var(--br-3xs);
}
.progress-indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-limegreen);
  width: 59px;
  z-index: 5;
}
.progress-bar {
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro);
  z-index: 4;
}
.completion-status-labels {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.completion-date-headers-parent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.completion-date-headers-parent,
.frame-div,
.table-headers2 {
  display: flex;
  align-items: flex-start;
}
.frame-div {
  width: 107px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-2xs);
  color: var(--color-limegreen);
}
.table-headers2 {
  align-self: stretch;
  border: 0.5px solid var(--color-black);
  overflow-x: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-2xl) var(--padding-9xs)
    var(--padding-4xl);
  gap: var(--gap-xl);
  z-index: 3;
}
.div2 {
  margin-top: -1px;
  width: 35px;
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 2;
}
.group,
.n56000-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.n56000-container {
  width: 101px;
  flex-shrink: 0;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.group {
  padding: 0 var(--padding-27xl) 0 0;
}
.div5 {
  width: 32px;
  height: 11px;
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 5;
}
.frame-item {
  height: 5px;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-limegreen);
  z-index: 6;
}
.table-headers-inner1 {
  width: 107px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-2xs);
  color: var(--color-limegreen);
}
.table-headers3 {
  align-self: stretch;
  border: 0.5px solid var(--color-black);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-2xl) var(--padding-9xs)
    var(--padding-4xl);
  gap: var(--gap-xl);
  z-index: 4;
}
.div10 {
  width: 25px;
  height: 11px;
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 25px;
  z-index: 6;
}
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 6;
}
.frame-child1,
.rectangle-parent {
  height: 5px;
  border-radius: var(--br-3xs);
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-limegreen);
  width: 59px;
  z-index: 7;
}
.rectangle-parent {
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro);
  z-index: 6;
}
.table-headers4 {
  align-self: stretch;
  border: 0.5px solid var(--color-black);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-2xl) var(--padding-9xs)
    var(--padding-4xl);
  gap: var(--gap-xl);
  z-index: 5;
}
.div15 {
  width: 25px;
  height: 11px;
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 7;
}
.frame-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 7;
}
.chart-elements,
.rectangle-group {
  height: 5px;
  border-radius: var(--br-3xs);
}
.chart-elements {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-limegreen);
  width: 15px;
  z-index: 8;
}
.rectangle-group {
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro);
  z-index: 7;
}
.table-headers5 {
  align-self: stretch;
  border: 0.5px solid var(--color-black);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-2xl) var(--padding-9xs)
    var(--padding-4xl);
  gap: var(--gap-xl);
  z-index: 6;
}
.div20 {
  width: 25px;
  height: 11px;
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 8;
}
.frame-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 8;
}
.frame-child4,
.rectangle-container {
  height: 5px;
  border-radius: var(--br-3xs);
}
.frame-child4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-limegreen);
  width: 51px;
  z-index: 9;
}
.rectangle-container {
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro);
  z-index: 8;
}
.component-9,
.table-headers6 {
  display: flex;
  align-items: flex-start;
}
.table-headers6 {
  align-self: stretch;
  border: 0.5px solid var(--color-black);
  overflow-x: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-2xl) var(--padding-9xs)
    var(--padding-4xl);
  gap: var(--gap-xl);
  z-index: 7;
}
.component-9 {
  flex: 1;
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  min-width: 474px;
  max-width: 100%;
}
.overview-header-child {
  width: 371px;
  height: 62px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.orders-overview,
.this-month1 {
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  z-index: 2;
}
.orders-overview {
  margin: 0;
  width: 178.6px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.this-month1 {
  width: 114.8px;
  font-size: var(--font-size-sm);
  font-weight: 300;
}
.overview-header {
  align-self: stretch;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-mid) var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-11xs);
  max-width: 100%;
  z-index: 1;
}
.agagda-design-ready {
  flex: 1;
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.third-progress-bar {
  width: 251.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 45px;
  box-sizing: border-box;
}
.status-icon {
  height: 1.5px;
  width: 47.7px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  transform: rotate(89.6deg);
  flex-shrink: 0;
  z-index: 1;
}
.div21,
.new-order-5654567 {
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.div21 {
  width: 62.7px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 62.7px;
}
.new-order-5654567 {
  align-self: stretch;
  font-size: var(--font-size-base);
}
.progress-badge {
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
}
.design-progress,
.progress-badge,
.progress-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.progress-container {
  width: 160.5px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.design-progress {
  width: 206.2px;
  flex-direction: row;
  gap: var(--gap-24xl-9);
  font-size: var(--font-size-mini);
}
.progress-bar-elements {
  width: 47.7px;
  height: 1.5px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  transform: rotate(89.6deg);
  flex-shrink: 0;
  z-index: 1;
}
.flap-design-icons,
.flap-design-progress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.flap-design-icons {
  width: 1.8px;
  flex: 1;
  gap: 19.3px;
}
.flap-design-progress {
  height: 119.7px;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.order-number {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: inline-block;
  min-width: 62.7px;
  flex-shrink: 0;
  z-index: 1;
}
.order-number-wrapper {
  width: 62.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
}
.flap-design-is,
.processing-time {
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.flap-design-is {
  align-self: stretch;
}
.processing-time {
  width: 62.7px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 62.7px;
}
.flap-design-message {
  width: 192.4px;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.flap-design-container,
.flap-design-message,
.flap-design-status {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flap-design-status {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid);
}
.flap-design-container {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-24xl-9);
}
.completed-marker {
  width: 47.7px;
  height: 1.5px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  transform: rotate(89.6deg);
  z-index: 1;
}
.agagda-design-progress {
  height: 55.7px;
  width: 1.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.div22 {
  width: 62.7px;
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 62.7px;
  z-index: 2;
}
.flap-design-container1,
.processing-order-name,
.second-progress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.flap-design-container1 {
  align-self: stretch;
  gap: var(--gap-12xs);
  font-size: var(--font-size-base);
}
.processing-order-name,
.second-progress {
  width: 160.5px;
  gap: var(--gap-13xl);
}
.second-progress {
  width: 206.2px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-mini);
}
.order-progress,
.overview-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.order-progress {
  flex: 1;
  flex-direction: column;
}
.overview-content {
  width: 297.6px;
  flex-direction: row;
  padding: 0 var(--padding-mid);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.component-91 {
  width: 371px;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  min-width: 371px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.component-9-parent,
.component-91,
.order-content {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.component-9-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 37px;
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
}
.order-content {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 36px;
}
.order-content-wrapper {
  width: 1169px;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-sora);
}
.dashboard,
.dashboard-content,
.order-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-16xl);
  max-width: calc(100% - 253px);
}
.dashboard {
  width: 100%;
  position: relative;
  background-color: var(--color-gray);
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1000px) {
  .sidebar-items {
    padding-top: var(--padding-xl);
    padding-bottom: 377px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 975px) {
  .sidebar-items {
    display: none;
  }
  .pending-orders-wrapper {
    flex-wrap: wrap;
  }
  .table-headers1 {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .component-91 {
    flex: 1;
  }
  .component-9-parent {
    flex-wrap: wrap;
  }
  .dashboard-content {
    max-width: 100%;
  }
  .dashboard {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .sidebar-items {
    padding-bottom: 245px;
    box-sizing: border-box;
  }
  .pending-orders-wrapper {
    gap: var(--gap-2xl);
  }
  .table-headers1 {
    flex-wrap: wrap;
  }
  .component-9 {
    min-width: 100%;
  }
  .component-9-parent,
  .order-content {
    gap: var(--gap-lg);
  }
  .dashboard-content {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 450px) {
  .nav-item,
  .order-placement {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent {
    padding-top: var(--padding-27xl);
    box-sizing: border-box;
  }
  .sidebar-items {
    gap: var(--gap-73xl);
  }
  .main-content {
    flex-wrap: wrap;
  }
  .customer-management {
    flex: 1;
  }
  .main-content1 {
    gap: var(--gap-13xl);
  }
  .orders-due-this,
  .orders-overview,
  .total-orders {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .third-progress-bar {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .design-progress,
  .flap-design-container {
    gap: var(--gap-3xl);
  }
  .component-91 {
    min-width: 100%;
  }
}
